[submodule "external/libzmq"]
	path = external/libzmq
	url = git@github.com:zeromq/libzmq.git
[submodule "external/libuv"]
	path = external/libuv
	url = git@github.com:joyent/libuv.git
[submodule "external/bstring"]
	path = external/bstring
	url = git@github.com:msteinert/bstring.git
